.footer {
    width: 100%;
    height: 100%;
    padding-top: 300px !important;
    padding-bottom: 15px !important;
    background: url('../img/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    .container {
        .footer-top {
            .row {
                .footer-links {
                    li {
                        margin: 5px 0 !important;

                        a {
                            position: relative;
                            padding: 5px !important;
                            font-size: 18px;
                            font-family: 'Cormorant Garamond';
                            color: #fff;
                            transition: all .3s ease-in-out;

                            &::after {
                                position: absolute;
                                content: '';
                                top: 100%;
                                left: 50%;
                                width: 0%;
                                height: 1px;
                                border-radius: 2px;
                                background-color: #91B40D;
                                transform: translateX(-50%);
                                transition: all .3s ease-in-out;
                            }

                            &:hover {
                                color: #91B40D;

                                &::after {
                                    width: 100%;
                                }
                            }
                        }

                    }

                    h1 {
                        color: #fff;
                        font-size: 20px;
                        font-family: 'Cormorant Garamond';
                        font-weight: bold;
                        margin-bottom: 5px !important;
                    }
                }
            }
        }

        .footer-bottom {
            border-top: 1px solid #fff;

            h1 {
                color: rgb(154, 154, 154);
                font-size: 20px;
                font-family: 'Cormorant Garamond';
            }
        }
    }
}