.section-5 {
    position: relative;
    overflow: hidden;
    z-index: 1;

    .shape {
        position: absolute;
        left: -50px;
        top: 20px;
    }

    .container-fluid {
        padding-top: 100px !important;

        .links {
            a {
                font-size: 22px !important;
                padding: 0px 5px !important;
                color: #000;
                font-weight: 500;
            }

            .active {
                color: #91B40D;
            }
        }

        .row {
            .col-lg-2 {
                background-color: #fff;
                border: 0.3px solid rgba(128, 128, 128, 0.268);
                box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.084);
                padding: 1rem 1.8rem !important;
                transition: all .2s ease-in-out;
                transform: scale(1);
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                    z-index: 999;
                }

                img {
                    width: 100%;
                }

                .text-box {
                    width: 100% !important;

                    h1 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 20px;
                    }

                    span {
                        color: #91B40D;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    .section-5 {
        .container-fluid {
            .links {
                a {
                    font-size: 16px !important;
                }
            }

            .row {
                .col-lg-2 {
                    img {
                        width: 100px;
                    }

                }
            }
        }
    }
}

@media (min-width:768px) {
    .section-5 {
        .container-fluid {
            .links {
                a {
                    font-size: 16px !important;
                }
            }

            .row {
                .col-lg-2 {
                    img {
                        width: 100px;
                    }
                }
            }
        }
    }
}