.section-6 {
   overflow: hidden;
   position: relative;

   .shape {
      position: absolute;
      top: 0;
      right: 0;
   }

   .container {
      padding: 2rem 2rem !important;

      h5 {
         font-family: 'Cormorant Garamond';
         font-size: 36px;
         font-weight: 600;
      }

      .second-item {
         margin: 10px !important;

         .text-box {
            h1 {
               font-family: 'Cormorant Garamond';
               font-size: 20px;
               font-weight: bold;
            }

            p {
               font-family: 'Cormorant Garamond';
               font-size: 16px;
               line-height: 24px;
            }
         }
      }

      .owl-theme .owl-dots .owl-dot.active span {
         background-color: #FFBF00;
         padding: 6px !important;
      }

      .owl-theme .owl-dots .owl-dot span {
         transition: all .4s ease-in-out;
      }

      .owl-theme .owl-dots .owl-dot {
         margin: 7px !important;
      }

   }
}