.section-4 {
    overflow: hidden;
    .container {
        padding: 1.7rem !important;
        position: relative;

        .shape {
            width: 270px !important;
            position: absolute;
            top: 68%;
            left: 40%;
        }

        .row {
            .col-lg-3 {
                img {
                    width: 100% !important;
                    height: 330px !important;
                    transition: all .3s ease-in-out;
                    cursor: pointer;

                    &:hover{
                        transform: scale(0.9);
                    }
                }

                .text-box {

                    h1 {
                        color: #7C7A7A;
                        font-family: 'Playfair Display';
                        font-size: 50px;
                    }

                    h3 {
                        font-size: 25px !important;
                        font-family:  'Radio Canada';
                        font-weight: 300;
                    }

                    p {
                        font-size: 20px;
                        color: #7C7A7A;
                        font-family:  'Radio Canada';
                        font-weight: 300;
                    }
                }
            }
        }
    }
}