// ------ Home Page ------

.banner {
    position: relative;
    height: 650px;
    padding-bottom: 130px !important;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }

    .overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 520px !important;
        top: 0;
        left: 0;
    }

    .carousel {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        .container {
            width: 80%;
            display: flex;
            justify-content: center;

            .main-item {
                position: relative;
                cursor: grab;


                .text-box {
                    position: absolute;
                    top: 20%;
                    left: 7%;

                    h1 {
                        color: #fff;
                        font-size: 32px;
                        font-family: 'Cormorant Garamond';
                        font-weight: bold;
                    }

                    a {
                        color: #fff;
                        font-size: 22px;
                        font-family: 'Cormorant Garamond';
                        font-weight: medium;
                    }
                }
            }

            .owl-theme .owl-dots .owl-dot.active span {
                background-color: #FFBF00;
                padding: 6px !important;
            }

            .owl-theme .owl-dots .owl-dot span {
                transition: all .4s ease-in-out;
            }

            .owl-theme .owl-dots .owl-dot {
                margin: 7px !important;
            }
        }
    }
}

// ------ About Page ------

.about-banner {
    position: relative;
    height: 690px;
    padding-bottom: 130px !important;

    .banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }

    .leafs {
        position: absolute;
        bottom: 5%;
        right: 10%;
    }

}

// ------ Services Page ------

.services-section-2 {
    .container {
        .title {
            h1 {
                font-family: 'Cormorant Garamond' !important;
                font-size: 36px;
                font-weight: 600;
            }
        }

        .row {
            .main-img {
                width: 90% !important;
                border-radius: 5px;
            }

            .text-box {
                width: 88% !important;
                margin-bottom: 20px !important;

                h1 {
                    font-size: 24px;
                    font-family: 'Cormorant Garamond';
                    font-weight: bold;
                    margin-top: 10px !important;
                }

                p {
                    margin-top: 10px !important;
                    font-size: 16px;
                    font-family: 'Cormorant Garamond';
                    color: #7C7A7A;
                    line-height: 23px;
                }
            }
        }
    }
}