.section-6{
   overflow: hidden;
   position: relative;

   .shape{
      position: absolute;
      top: 0;
      right: 0;
   }

   .container{
      padding: 2rem 0 !important;
      .row{
         .col-lg-4{
            padding: 1rem !important;

            img{
               width: 100%;
            }

            .text-box{
               h1{
                  font-size: 26px;
                  color: #2F2A2A;
               }
               p{
                  font-size: 20px;
                  color: #7C7A7A;
               }
            }
         }
      }
   }
}