    .section-3 {

        overflow: hidden;

        .container-fluid {
            position: relative;

            .shape {
                width: 300px;
                position: absolute !important;
                top: 63%;
                left: 36%;
            }

            .row {


                .text-box {
                    padding: 0.8rem 0.6rem 0.3rem 0.6rem !important;
                    background-color: #F5F5F5;


                    .text {
                        h1 {
                            font-size: 36px !important;
                            font-family:  'Cormorant Garamond';
                            font-weight: bold;

                        }

                        p {
                            font-size: 16px !important;
                            padding: 0 1rem !important;
                            font-family:  'Cormorant Garamond';
                            font-weight: bold;
                        }

                        img {
                            width: 200px !important;
                        }
                    }

                    .icon-box {
                        img {
                            width: 300px;
                        }

                        .icons .icon {
                            img {
                                width: 25px !important;
                            }

                            p {
                                font-size: 16px;
                                font-family: 'Cormorant Garamond';
                                font-weight: bold;
                            }
                        }

                        .icon:not(:first-child) {
                            margin-left: 20px !important;
                        }
                    }
                }
            }
        }
    }


   