// ----- Home Page -----   
.section-3 {

    overflow: hidden;

    .container-fluid {
        position: relative;

        .shape {
            width: 300px;
            position: absolute !important;
            top: 63%;
            left: 36%;
        }

        .row {


            .text-box {
                padding: 0.8rem 0.6rem 0.3rem 0.6rem !important;
                background-color: #F5F5F5;


                .text {
                    h1 {
                        font-size: 36px !important;
                        font-family: 'Cormorant Garamond';
                        font-weight: bold;

                    }

                    p {
                        font-size: 16px !important;
                        padding: 0 1rem !important;
                        font-family: 'Cormorant Garamond';
                        font-weight: bold;
                        line-height: 27px;
                    }

                    img {
                        width: 200px !important;
                    }
                }

                .icon-box {
                    img {
                        width: 300px;
                    }

                    .icons .icon {
                        img {
                            width: 30px !important;
                        }

                        p {
                            font-size: 16px;
                            font-family: 'Cormorant Garamond';
                            font-weight: bold;
                        }
                    }

                    .icon:not(:first-child) {
                        margin-left: 20px !important;
                    }
                }
            }
        }
    }
}

// ----- About Page ----

.about-section-3 {
    position: relative;

    .container {
        .shape {
            position: absolute;
            top: 0;
            left: 0;
            width: 150px;
        }

        .row {
            .text-box {
                padding: 0.8rem 0.6rem 0.3rem 0.6rem !important;


                .text {
                    h1 {
                        font-size: 36px !important;
                        font-family: 'Cormorant Garamond';
                        font-weight: bold;

                    }

                    p {
                        font-size: 16px !important;
                        font-family: 'Cormorant Garamond';
                        font-weight: bold;
                        line-height: 27px;
                    }

                    img {
                        width: 200px !important;
                    }
                }

                .icon-box {
                    img {
                        width: 300px;
                    }

                    .icons .icon {
                        img {
                            width: 30px !important;
                        }

                        p {
                            font-size: 16px;
                            font-family: 'Cormorant Garamond';
                            font-weight: bold;
                        }
                    }

                    .icon:not(:first-child) {
                        margin-left: 20px !important;
                    }
                }
            }

            .about-image-box {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 80%;
                }
            }
        }
    }
}

// ----- Contact Page -----

// .contact-section-3 {
//     .container {
//         .row {
//             border: 1px solid rgba(0, 0, 0, 0.219);

//             form {
//                 width: 100%;

//                 input {
//                     width: 100%;
//                     padding: 15px !important;
//                     font-size: 16px;
//                     text-transform: capitalize;
//                     caret-color: rgb(19, 191, 19);
//                     border: 0;
//                     border-bottom: 1px solid rgba(0, 0, 0, 0.379);

//                     &:focus {
//                         outline: none;
//                     }
//                 }

//                 textarea {
//                     width: 100%;
//                     text-transform: capitalize;
//                     font-size: 16px;
//                     padding: 15px !important;

//                     &:focus {
//                         outline: none;
//                     }
//                 }

//                 button {
//                     font-size: 20px;
//                     padding: 10px 35px;
//                     background: #91B40D;
//                     border: none;
//                     color: #fff;
//                     transition: all .3s ease;
//                     cursor: pointer;

//                     &:hover {
//                         transform: scale(0.9);
//                         background: #84a40d;
//                         color: rgb(217, 216, 216);
//                     }
//                 }
//             }

//             .icon-box {
//                 .icon {
//                     color: #fff;
//                     margin-top: 15px !important;

//                     p {
//                         margin-top: 10px !important;
//                         font-size: 18px;
//                         font-family: 'Cormorant Garamond' !important;
//                     }

//                     a {
//                         i {
//                             color: #fff;
//                         }
//                     }
//                 }
//             }

//             .icons {
//                 background: #91B40D;
//             }
//         }
//     }
// }


.contact-section-3 {
    width: 100%;

    .container {
        .title {
            h1 {
                font-family: 'Cormorant Garamond' !important;
                font-size: 36px;
                font-weight: 600;
            }
        }

        .row {

            .col-lg-4 {
                padding: 10px !important;

                .card {
                    width: 100%;
                    height: 100%;
                    border: none;
                    padding-top: 100px !important;
                    cursor: pointer;
                    position: relative;

                    &:hover {

                        .image {
                            animation: shake .3s ease-in-out;
                            animation-iteration-count: 2;
                        }
                    }




                    .image {
                        background: #fff;
                        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.097);
                        position: absolute;
                        top: 0;

                        img {
                            width: 70px;
                            height: 70px;
                        }
                    }


                    .card-body {
                        width: 100%;
                        background: #F5F5F5;
                        display: flex;
                        align-items: center;

                        p {
                            font-family: 'Cormorant Garamond';
                            font-size: 20px;

                            a {
                                font-family: 'Cormorant Garamond';
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }


}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}



// ----- Introduction Page -----

.introduction-section-3 {
    position: relative;

    .shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
    }

    .shape-1 {
        position: absolute;
        top: 3%;
        right: 5%;
        width: 150px;
    }

    .container {
        .title {
            h1 {
                font-family: 'Cormorant Garamond' !important;
                font-size: 36px;
                font-weight: bold;
            }
        }

        .row {
            .main-img {
                cursor: pointer;
                transition: all .3s ease-in-out;

                &:hover {
                    transform: scale(0.9);
                }
            }

            .text-box {
                width: 80%;
                padding: 0.5rem !important;

                h1 {
                    font-family: 'Cormorant Garamond' !important;
                    font-size: 130px;
                    color: #918F8F;
                }

                h4 {
                    font-family: 'Cormorant Garamond' !important;
                    font-size: 32px;
                    font-weight: bold;
                    margin-top: 10px !important;
                }

                p {
                    font-family: 'Cormorant Garamond' !important;
                    font-size: 17px;
                    color: #7C7A7A;
                    margin-top: 10px !important;
                    line-height: 23px;
                }
            }
        }
    }
}

// ----- Social Page -----

.social-section-3 {
    .container {
        .title {
            h1 {
                font-family: 'Cormorant Garamond';
                font-size: 36px;
                font-weight: 500;
            }

            .leaf {
                width: 40%;
            }
        }

        .row {
            .text-box {
                p {
                    width: 60%;
                    font-size: 20px;
                    font-family: 'Cormorant Garamond';
                    font-weight: medium;
                    line-height: 28px;
                }
            }
        }
    }
}