.section-6 {
   overflow: hidden;
   position: relative;

   .shape {
      position: absolute;
      top: 0;
      right: 0;
   }

   .container {
      padding: 2rem 2rem !important;

      .row {
         .col-lg-3 {
            background-color:rgb(244, 243, 243);
            padding: 1rem !important;
            transition: all .3s ease-in-out;
            cursor: pointer;
            border: 0.1px solid rgba(128, 128, 128, 0.127);
            margin-bottom: 30px !important;
            transform: scale(1);

            &:hover {
               transform: scale(1.1);
            }

            img {
               width: 100%;
            }

            .text-box {
               h1 {
                  font-size: 20px;
                  font-family:  'Radio Canada';
                  font-weight: 300;
                  color: #2F2A2A;
               }

               p {
                  font-family:  'Radio Canada';
                  font-weight: 300;
                  font-size: 16px;
                  color: #7C7A7A;
               }
            }
         }
      }
   }
}