@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0 !important;
  padding: 0 !important;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none !important;
  font-family: Montserrat;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.header .container .header-1 {
  border-bottom: 1px solid #fff;
  background-color: transparent;
  padding: 0.2rem !important;
  margin: 0 0.5rem !important;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.header .container .header-1 .mobile-number a {
  font-size: 16px;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-family: 'Cormorant Garamond';
  font-weight: medium;
}

.header .container .header-1 .mobile-number a i {
  color: #91B40D;
}

.header .container .header-1 .mobile-number a:hover {
  color: #91B40D;
}

.header .container .header-1 .social-icons .icon {
  padding: 5px !important;
  cursor: pointer;
}

.header .container .header-1 .social-icons .icon:hover a {
  color: #fff;
}

.header .container .header-1 .social-icons .icon:hover a i {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.header .container .header-1 .social-icons .icon a {
  color: #91B40D;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .container .header-1 .social-icons .icon a i {
  font-size: 22px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header .container .header-2 {
  background-color: transparent;
  padding: 0.5rem !important;
  margin: 0 0.5rem;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header .container .header-2 .header-2-nav .nav-links {
  width: 100%;
  position: relative;
}

.header .container .header-2 .header-2-nav .nav-links .nav-link a {
  font-size: 22px;
  font-family: 'Cormorant Garamond';
  font-weight: medium;
  color: #fff;
  margin-right: 20px !important;
  padding: 0.2rem !important;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .container .header-2 .header-2-nav .nav-links .nav-link a::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 0%;
  height: 1px;
  border-radius: 2px;
  background-color: #91B40D;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .container .header-2 .header-2-nav .nav-links .nav-link a::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0%;
  width: 0%;
  height: 1px;
  border-radius: 2px;
  background-color: #91B40D;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .container .header-2 .header-2-nav .nav-links .nav-link a:hover {
  color: #91B40D;
}

.header .container .header-2 .header-2-nav .nav-links .nav-link a:hover::after {
  left: 50%;
  width: 100%;
}

.header .container .header-2 .header-2-nav .nav-links .nav-link a:hover::before {
  width: 100%;
}

.header .container .header-2 .header-2-nav .nav-links .nav-link #search-button {
  width: 25px;
  cursor: pointer;
}

.header .container .header-2 .header-mobile-icon {
  display: none;
  color: #fff;
}

.header .container .header-2 .header-mobile-icon img {
  width: 25px;
  cursor: pointer;
}

.header .container .header-2 .header-mobile-icon i {
  font-size: 35px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .container .header-2 .header-mobile-icon i:hover {
  color: #91B40D;
}

.header .container .header-2 input {
  width: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../img/search-icon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px 20px 13px 40px;
  caret-color: #c0f012;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.header .container .header-2 input:focus {
  width: 250px;
  outline: none;
}

.header .container .header-mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.header .container .header-mobile-menu .header-mobile-wrapper {
  width: 80%;
  min-height: 100vh;
  float: right;
  background: #1A5221;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-head {
  width: 100%;
  border-bottom: 1px solid #FFBF00;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-head .menu-close-btn {
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-head .menu-close-btn i {
  font-size: 40px;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-head .menu-close-btn:hover {
  color: #FFBF00;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-body .header-mobile-link {
  margin: 21px !important;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-body .header-mobile-link a {
  font-size: 20px;
  font-family: 'Cormorant Garamond';
  color: #fff;
  padding: 0.3rem 0 !important;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-body .header-mobile-link a::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 0%;
  height: 1px;
  border-radius: 2px;
  background-color: #FFBF00;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-body .header-mobile-link a::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0%;
  width: 0%;
  height: 1px;
  border-radius: 2px;
  background-color: #FFBF00;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-body .header-mobile-link a:hover {
  color: #FFBF00;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-body .header-mobile-link a:hover::after {
  left: 50%;
  width: 100%;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-body .header-mobile-link a:hover::before {
  width: 100%;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-foot {
  width: 100%;
  border-top: 1px solid #FFBF00;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-foot .mobile-social-icons {
  width: 50%;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-foot .mobile-social-icons .mobile-social-icon i {
  font-size: 20px;
  color: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header .container .header-mobile-menu .header-mobile-wrapper .header-mobile-foot .mobile-social-icons .mobile-social-icon:hover a i {
  color: #FFBF00;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.header .container .search-page {
  background: rgba(0, 0, 0, 0.526);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 100000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header .container .search-page .search-close-btn {
  position: absolute;
  top: 7%;
  right: 7%;
}

.header .container .search-page .search-close-btn i {
  font-size: 60px;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.header .container .search-page .search-close-btn i:hover {
  color: #FFBF00;
}

.header .container .search-page form input {
  background: transparent;
  border: 1px solid #fff;
  caret-color: #fff;
  font-family: 'Cormorant Garamond';
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
}

.header .container .search-page form input:focus {
  outline: none !important;
}

.header .container .search-page form input::-webkit-input-placeholder {
  color: #fff;
}

.header .container .search-page form input:-ms-input-placeholder {
  color: #fff;
}

.header .container .search-page form input::-ms-input-placeholder {
  color: #fff;
}

.header .container .search-page form input::placeholder {
  color: #fff;
}

.header .container .search-page form button {
  font-family: 'Cormorant Garamond';
  font-weight: bold;
  padding: 0.7rem 1rem !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .container .search-page form button:hover {
  background-color: #1A5221;
  color: #fff;
}

.sticky {
  background: #1A5221 !important;
  border-bottom: 5px solid #FFBF00;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  z-index: 999;
  -webkit-animation: fade .3s ease-in-out;
          animation: fade .3s ease-in-out;
}

.sticky .header-2-nav .nav-links .nav-link a::before {
  background-color: #FFBF00 !important;
}

.sticky .header-2-nav .nav-links .nav-link a::after {
  background-color: #FFBF00 !important;
}

.sticky .header-2-nav .nav-links .nav-link a:hover {
  color: #FFBF00 !important;
}

.sticky .header-1 {
  opacity: 0;
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.show {
  position: fixed !important;
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-animation: animation1 .3s ease-in-out;
          animation: animation1 .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@-webkit-keyframes animation1 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animation1 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.loader {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  position: fixed;
}

.loader .spinner {
  width: 100px;
  height: 100px;
  border: 7px solid rgba(128, 128, 128, 0.607);
  border-top-color: #FFBF00;
  border-radius: 50%;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.reveal {
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #FFBF00;
  border-radius: 30px;
}

#header-about {
  position: relative !important;
}

#header-about .header-1 .icon:hover a {
  color: #000 !important;
}

#header-about .header-2 .header-2-nav .nav-links a {
  border-radius: 5px;
  padding: 10px 18px !important;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

#header-about .header-2 .header-2-nav .nav-links a::after {
  display: none;
}

#header-about .header-2 .header-2-nav .nav-links a::before {
  display: none;
}

#header-about .header-2 .header-2-nav .nav-links a:hover {
  color: #fff !important;
  background-color: #91B40D;
  background-image: url(../images/about-images/link-bg.png);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: bottom right;
}

#header-about .header-mobile-menu .header-mobile-wrapper {
  background: #fff !important;
}

#header-about .header-mobile-menu .header-mobile-wrapper .header-mobile-head .menu-close-btn {
  color: #000 !important;
}

#header-about .header-mobile-menu .header-mobile-wrapper .header-mobile-head .menu-close-btn i {
  font-size: 40px;
}

#header-about .header-mobile-menu .header-mobile-wrapper .header-mobile-head .menu-close-btn:hover {
  color: #FFBF00 !important;
}

#header-about .header-mobile-menu .header-mobile-wrapper .header-mobile-body .header-mobile-link a {
  color: #000 !important;
}

#header-about .header-mobile-menu .header-mobile-wrapper .header-mobile-body .header-mobile-link a:hover {
  color: #FFBF00 !important;
}

#header-about .header-mobile-menu .header-mobile-wrapper .header-mobile-foot .mobile-social-icons .mobile-social-icon i {
  color: #000;
}

#header-about .header-mobile-menu .header-mobile-wrapper .header-mobile-foot .mobile-social-icons .mobile-social-icon:hover a i {
  color: #FFBF00 !important;
}

.about-main .sticky {
  background: #fff !important;
}

.banner {
  position: relative;
  height: 650px;
  padding-bottom: 130px !important;
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.banner .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 520px !important;
  top: 0;
  left: 0;
}

.banner .carousel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .carousel .container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .carousel .container .item {
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}

.banner .carousel .container .item .text-box {
  position: absolute;
  top: 20%;
  left: 7%;
}

.banner .carousel .container .item .text-box h1 {
  color: #fff;
  font-size: 32px;
  font-family: 'Cormorant Garamond';
  font-weight: bold;
}

.banner .carousel .container .item .text-box a {
  color: #fff;
  font-size: 22px;
  font-family: 'Cormorant Garamond';
  font-weight: medium;
}

.banner .carousel .container .owl-theme .owl-dots .owl-dot.active span {
  background-color: #FFBF00;
  padding: 6px !important;
}

.banner .carousel .container .owl-theme .owl-dots .owl-dot span {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.banner .carousel .container .owl-theme .owl-dots .owl-dot {
  margin: 7px !important;
}

.about-banner {
  position: relative;
  height: 690px;
  padding-bottom: 130px !important;
}

.about-banner .banner-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.about-banner .leafs {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

.section-3 {
  overflow: hidden;
}

.section-3 .container-fluid {
  position: relative;
}

.section-3 .container-fluid .shape {
  width: 300px;
  position: absolute !important;
  top: 63%;
  left: 36%;
}

.section-3 .container-fluid .row .text-box {
  padding: 0.8rem 0.6rem 0.3rem 0.6rem !important;
  background-color: #F5F5F5;
}

.section-3 .container-fluid .row .text-box .text h1 {
  font-size: 36px !important;
  font-family: 'Cormorant Garamond';
  font-weight: bold;
}

.section-3 .container-fluid .row .text-box .text p {
  font-size: 16px !important;
  padding: 0 1rem !important;
  font-family: 'Cormorant Garamond';
  font-weight: bold;
}

.section-3 .container-fluid .row .text-box .text img {
  width: 200px !important;
}

.section-3 .container-fluid .row .text-box .icon-box img {
  width: 300px;
}

.section-3 .container-fluid .row .text-box .icon-box .icons .icon img {
  width: 25px !important;
}

.section-3 .container-fluid .row .text-box .icon-box .icons .icon p {
  font-size: 16px;
  font-family: 'Cormorant Garamond';
  font-weight: bold;
}

.section-3 .container-fluid .row .text-box .icon-box .icon:not(:first-child) {
  margin-left: 20px !important;
}

.about-section-3 .container {
  padding: 0 1rem !important;
}

.about-section-3 .container .row .text-box .title h1 {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Cormorant Garamond' !important;
}

.about-section-3 .container .row .text-box .title img {
  width: 40%;
}

.about-section-3 .container .row .text-box p {
  font-family: 'Cormorant Garamond' !important;
  font-size: 15px;
}

.about-section-3 .container .row .icon-box .leaf {
  width: 70%;
}

.about-section-3 .container .row .icon-box .icon {
  margin: 11px !important;
}

.about-section-3 .container .row .icon-box .icon p {
  font-weight: bold;
  font-size: 11px;
  font-family: 'Cormorant Garamond' !important;
}

.about-section-3 .container .row .about-image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section-3 .container .row .about-image-box img {
  width: 100%;
}

.contact-section-3 .container .row {
  border: 1px solid rgba(0, 0, 0, 0.219);
}

.contact-section-3 .container .row form {
  width: 100%;
}

.contact-section-3 .container .row form input {
  width: 100%;
  padding: 15px !important;
  font-size: 16px;
  text-transform: capitalize;
  caret-color: #13bf13;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.379);
}

.contact-section-3 .container .row form input:focus {
  outline: none;
}

.contact-section-3 .container .row form textarea {
  width: 100%;
  text-transform: capitalize;
  font-size: 16px;
  padding: 15px !important;
}

.contact-section-3 .container .row form textarea:focus {
  outline: none;
}

.contact-section-3 .container .row form button {
  font-size: 20px;
  padding: 10px 35px;
  background: #91B40D;
  border: none;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.contact-section-3 .container .row form button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background: #84a40d;
  color: #d9d8d8;
}

.contact-section-3 .container .row .icon-box .icon {
  color: #fff;
  margin-top: 15px !important;
}

.contact-section-3 .container .row .icon-box .icon p {
  margin-top: 10px !important;
  font-size: 18px;
  font-family: 'Cormorant Garamond' !important;
}

.contact-section-3 .container .row .icon-box .icon a i {
  color: #fff;
}

.contact-section-3 .container .row .icons {
  background: #91B40D;
}

.introduction-section-3 {
  position: relative;
}

.introduction-section-3 .shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}

.introduction-section-3 .shape-1 {
  position: absolute;
  top: 3%;
  right: 5%;
  width: 150px;
}

.introduction-section-3 .container .title h1 {
  font-family: 'Cormorant Garamond' !important;
  font-size: 48px;
  font-weight: bold;
}

.introduction-section-3 .container .title .leaf {
  width: 40%;
}

.introduction-section-3 .container .row .text-box {
  width: 65%;
}

.introduction-section-3 .container .row .text-box h1 {
  font-family: 'Cormorant Garamond' !important;
  font-size: 130px;
  color: #918F8F;
}

.introduction-section-3 .container .row .text-box h4 {
  font-family: 'Cormorant Garamond' !important;
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px !important;
}

.introduction-section-3 .container .row .text-box p {
  font-family: 'Cormorant Garamond' !important;
  font-size: 17px;
  color: #7C7A7A;
  margin-top: 10px !important;
}

.social-section-3 .container .title h1 {
  font-family: 'Cormorant Garamond';
  font-size: 46px;
}

.social-section-3 .container .title .leaf {
  width: 40%;
}

.social-section-3 .container .row .text-box p {
  width: 60%;
  font-size: 22px;
  font-family: 'Cormorant Garamond';
  font-weight: medium;
}

.section-4 {
  overflow: hidden;
}

.section-4 .container {
  padding: 1.7rem !important;
  position: relative;
}

.section-4 .container .shape {
  width: 270px !important;
  position: absolute;
  top: 68%;
  left: 40%;
}

.section-4 .container h5 {
  font-family: 'Cormorant Garamond' !important;
  font-size: 36px;
  font-weight: 600;
}

.section-4 .container .row .col-lg-3 img {
  width: 100% !important;
  height: 330px !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.section-4 .container .row .col-lg-3 img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.section-4 .container .row .col-lg-3 .text-box h1 {
  color: #7C7A7A;
  font-family: 'Cormorant Garamond';
  font-size: 120px;
}

.section-4 .container .row .col-lg-3 .text-box h3 {
  font-size: 30px !important;
  font-family: 'Cormorant Garamond';
  font-weight: 300;
}

.section-4 .container .row .col-lg-3 .text-box p {
  font-size: 16px;
  color: #7C7A7A;
  font-family: 'Cormorant Garamond';
  font-weight: 500;
}

.about-section-4 .container .title h5 {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Cormorant Garamond';
}

.about-section-4 .container .row h1 {
  font-family: 'Cormorant Garamond';
  font-size: 24px;
  font-weight: bold;
}

.about-section-4 .container .row p {
  font-size: 16px;
  font-family: 'Cormorant Garamond';
  font-weight: medium;
  color: #7C7A7A;
}

.section-5 {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.section-5 .shape {
  position: absolute;
  left: -50px;
  top: 20px;
}

.section-5 .container-fluid {
  padding-top: 100px !important;
}

.section-5 .container-fluid h5 {
  font-family: 'Cormorant Garamond';
  font-size: 30px;
  font-weight: 600;
}

.section-5 .container-fluid .links a {
  font-size: 22px !important;
  padding: 0px 8px !important;
  color: #000;
  font-weight: 700;
  font-family: 'Cormorant Garamond';
}

.section-5 .container-fluid .links .active {
  color: #91B40D;
}

.section-5 .container-fluid .row .col-lg-2 {
  background-color: #fff;
  border: 0.3px solid rgba(128, 128, 128, 0.268);
  -webkit-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.084);
          box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.084);
  padding: 1rem 1.8rem !important;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.section-5 .container-fluid .row .col-lg-2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 999;
}

.section-5 .container-fluid .row .col-lg-2 img {
  width: 100%;
}

.section-5 .container-fluid .row .col-lg-2 .text-box {
  width: 100% !important;
}

.section-5 .container-fluid .row .col-lg-2 .text-box h1 {
  font-size: 25px;
  font-family: 'Cormorant Garamond';
  font-weight: bold;
}

.section-5 .container-fluid .row .col-lg-2 .text-box p {
  font-size: 22px;
  font-family: 'Charm';
}

.section-5 .container-fluid .row .col-lg-2 .text-box span {
  color: #91B40D;
}

.about-section-5 {
  width: 100%;
  position: relative;
}

.about-section-5 .shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
}

.about-section-5 .container .title h5 {
  font-family: 'Cormorant Garamond';
  font-size: 36px;
  font-weight: bold;
}

.about-section-5 .container .owl-carousel .item {
  cursor: -webkit-grab;
  cursor: grab;
}

.about-section-5 .container .owl-carousel .item img {
  margin-top: 20px !important;
  width: 70%;
}

.about-section-5 .container .owl-theme .owl-dots .owl-dot.active span {
  background-color: #91B40D;
  padding: 6px !important;
}

.about-section-5 .container .owl-theme .owl-dots .owl-dot span {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.about-section-5 .container .owl-theme .owl-dots .owl-dot {
  margin: 7px !important;
}

.section-6 {
  overflow: hidden;
  position: relative;
}

.section-6 .shape {
  position: absolute;
  top: 0;
  right: 0;
}

.section-6 .container {
  padding: 2rem 2rem !important;
}

.section-6 .container h5 {
  font-family: 'Cormorant Garamond';
  font-size: 30px;
  font-weight: 600;
}

.section-6 .container .row .col-lg-3 {
  background-color: #f4f3f3;
  padding: 1rem !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  border: 0.1px solid rgba(128, 128, 128, 0.127);
  margin-bottom: 30px !important;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.section-6 .container .row .col-lg-3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-6 .container .row .col-lg-3 img {
  width: 100%;
}

.section-6 .container .row .col-lg-3 .text-box h1 {
  font-size: 20px;
  font-family: 'Cormorant Garamond';
  font-weight: bold;
  color: #2F2A2A;
}

.section-6 .container .row .col-lg-3 .text-box p {
  font-family: 'Cormorant Garamond';
  font-weight: 400;
  font-size: 16px;
  color: #7C7A7A;
}

.footer {
  width: 100%;
  height: 100%;
  padding-top: 300px !important;
  padding-bottom: 15px !important;
  background: url("../images/home-images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.footer .container .footer-top .row .footer-links li {
  margin: 5px 0 !important;
}

.footer .container .footer-top .row .footer-links li a {
  position: relative;
  padding: 5px !important;
  font-size: 18px;
  font-family: 'Cormorant Garamond';
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer .container .footer-top .row .footer-links li a::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  width: 0%;
  height: 1px;
  border-radius: 2px;
  background-color: #91B40D;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer .container .footer-top .row .footer-links li a:hover {
  color: #91B40D;
}

.footer .container .footer-top .row .footer-links li a:hover::after {
  width: 100%;
}

.footer .container .footer-top .row .footer-links h1 {
  color: #fff;
  font-size: 20px;
  font-family: 'Cormorant Garamond';
  font-weight: bold;
  margin-bottom: 5px !important;
}

.footer .container .footer-bottom {
  border-top: 1px solid #fff;
}

.footer .container .footer-bottom h1 {
  color: #9a9a9a;
  font-size: 20px;
  font-family: 'Cormorant Garamond';
}

.footer-about {
  background-image: url("../images/about-images/footer-bg.png") !important;
}

.footer-about .footer-links li {
  margin: 5px 0 !important;
}

.footer-about .footer-links li a {
  position: relative;
  padding: 5px !important;
  font-size: 18px;
  font-family: 'Cormorant Garamond';
  color: #000 !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer-about .footer-links li a::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  width: 0%;
  height: 1px;
  border-radius: 2px;
  background-color: #91B40D;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer-about .footer-links li a:hover {
  color: #91B40D;
}

.footer-about .footer-links li a:hover::after {
  width: 100%;
}

.footer-about .footer-links h1 {
  color: #000 !important;
  font-size: 20px;
  font-family: 'Cormorant Garamond';
  font-weight: bold;
  margin-bottom: 5px !important;
}

.footer-about .footer-bottom {
  border-top: 1px solid #000 !important;
}

.footer-about .logo {
  width: 200px !important;
}

@media (min-width: 768px) {
  .section-5 .container-fluid .links a {
    font-size: 16px !important;
  }
  .section-5 .container-fluid .row .col-lg-2 img {
    width: 100px;
  }
}

@media (max-width: 992px) {
  .about-banner {
    position: relative;
    height: 500px;
    padding-bottom: 130px !important;
  }
  .about-banner .banner-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .about-banner .leafs {
    width: 200px;
  }
  .section-3 .container-fluid .row .section-3-img {
    height: 360px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-3 .container-fluid .row .text-box .text p {
    font-size: 16px;
  }
  .section-3 .container-fluid .row .text-box .icon-box .icons {
    padding-bottom: 30px;
  }
  .section-5 .container-fluid .links a {
    font-size: 16px !important;
  }
  .section-5 .container-fluid .row .col-lg-2 img {
    width: 100px;
  }
}

@media (max-width: 1227px) {
  .header .container .header-2 .header-2-nav {
    display: none !important;
  }
  .header .container .header-2 .header-mobile-icon {
    display: block;
  }
  .header .container .search-page form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .container .search-page form button {
    margin-top: 10px;
  }
  .active {
    right: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}
/*# sourceMappingURL=style.css.map */